.cart-container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-cart-container{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.counter-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-route{
    text-decoration: none;
    color:rgb(250, 248, 248) ;
}

.counter-container span{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 35, 35);
    border-radius: 100%;
    font-size: .8rem;
    font-weight: 600;
    color: rgb(250, 248, 248);
    cursor: pointer;
}

.cart-icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon{
    font-size: 1.5rem;
    color: rgb(250, 248, 248);
    cursor: pointer;
}